@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(50px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.title {
  animation: fadeInUp 1s cubic-bezier(0, 0.55, 0.45, 1);
  font-size: 4rem;
  font-weight: 700;
  text-align: center;
  margin-top: 2rem;
  margin-bottom: 2rem;
  text-align: center;
}

.step {
  animation: fadeInUp 1s cubic-bezier(0, 0.55, 0.45, 1);
}
